.calendar-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.calendar-profile-section {
  width: 28%;
}

.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.calendar-section {
  width: 38%;
}

.selected-day-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  overflow-y: auto;
  height: 310px;
}

.calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-calendar__navigation__arrow {
  max-width: 10px !important;
}

.calendar-profile-header {
  display: flex;
  align-items: center;
}

.calendar-modal-content {
  background: white;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  max-width: 90%;
  z-index: 1001;
}

.react-calendar {
  border: none;
  width: 350px;
  max-width: 100%;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px;
}

.react-calendar__month-view__days__day {
  padding: 10px;
  text-align: center;
}

.react-calendar__tile--active {
  background: #139a43 !important;
  color: white;
}

.react-calendar__tile--now {
  background: rgb(185, 215, 185);
}

.time-slot {
  border: 2px solid #139a43;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.time-slot-active {
  background-color: #139a43;
  color: white;
}

.close-calendar {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 30px;
  cursor: pointer;
}

.time-slots-buttons {
  display: flex;
  margin-top: 10px;
  gap: 6px;
}

.cancel-button {
  border: 2px solid #139a43;
  background-color: white;
  padding: 6px 17px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  border: 2px solid #139a43;
  padding: 6px 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  background-color: #139a43;
  color: white;
}

.calendar-input {
  background-color: white;
  padding: 6px 15px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 10px;
}

@media (max-width: 1340px) {
  .time-slots-buttons {
    flex-direction: column;
  }

  .calendar-input {
    width: 70%;
    padding: 6px;
  }
}

@media (max-width: 360px) {
  .cancel-button {
    padding: 6px 13px;
  }

  .confirm-button {
    padding: 6px 6px;
  }
}

@media (max-width: 768px) {
  .calendar-section {
    width: 65%;
  }
}

@media (max-width: 360px) {
  .calendar-modal-content {
    width: 83%;
  }

  .calendar-section {
    width: 70%;
  }

  .selected-day-section {
    width: 25%;
    margin-top: 48px;
  }

  .time-slot {
    padding: 5px 10px;
  }
}

@media (max-width: 1280px) {
  .calendar-profile-section {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calendar-section {
    width: 43%;
  }

  .calendar-profile-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .calendar-profile-description {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .calendar-modal-content {
    width: 85%;
  }
}