.chat-page-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-page-list {
  width: 300px;
  height: 600px;
  overflow-y: auto;
}

.chat-page {
  width: 60%;
  margin-top: 130px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-page-header {
  background-color: whitesmoke;
  color: black;
  height: 48px;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chatpage-profile-picture-container {
  position: relative;
}

.chatpage-profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 10px;
}

.chatpage-online-status {
  position: absolute;
  bottom: 4px;
  right: 8px;
  width: 8px;
  height: 8px;
  background-color: #139a43;
  border: 2px solid whitesmoke;
  border-radius: 50%;
}

.chat-page-content {
  padding: 0 15px;
  margin-top: 15px;
  height: calc(100% - 58px);
  overflow: auto;
}

.chat-message-header {
  display: flex;
  align-items: top;
}

.chat-message-name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}

.chat-message-timestamp {
  font-size: 12px;
  color: #666;
}

.chat-message-text {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 25px;
}

.chat-page-message-form {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
}

@media (min-width: 768px) {
  .chat-page {
    height: calc(100vh - 190px);
  } 
}

@media (max-width: 768px) {
  .chat-page-container {
    padding-bottom: 20px;
  }

  .chat-page {
    width: 90%;
    height: calc(100vh - 195px);
    margin-bottom: 85px;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
  }
}