.chat-modal {
  position: fixed;
  bottom: 0;
  right: 310px;
  width: 500px;
  height: 696px;
  background-color: white;
  border-right: 1px solid #ccc;
  overflow: auto;
  z-index: 1000;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-modal-header {
  background-color: whitesmoke;
  color: black;
  border: none;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  height: 48px;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header-content {
  position: relative;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.chat-modal-close-button-container {
  padding: 20px;
}

.chat-modal-close-button {
 border: none;
 padding: 3px 6px;
 font-size: 12px;
 font-weight: 500;
 border-radius: 50%;
 cursor: pointer;
 transition: background-color 0.3s;
}

.chat-modal-close-button:hover {
  background-color: rgb(185, 215, 185);
}

.chat-modal-content {
  margin-right: 30px;
  padding: 0 15px;
  margin-top: 10px;
}

.message-header {
  display: flex;
  align-items: top;
}

.message-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-name {
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
}

.message-dot {
  font-size: 14px;
  font-weight: 700;
  margin: 4px 5px 0px 5px;
}

.message-timestamp {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  margin-top: 6px;
}

.message-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 25px;
}

.message-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.send-message-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #139a43;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chat-modal {
    bottom: 15px;
    right: 10px;
    width: 80%;
    height: 60%;
  }
}